/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	      content: '';
	      content: none;
          }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: white;
    font-size: 100%;
    border-top: 3px solid black;
}
body * { font-family: 'Open Sans', sans-serif; box-sizing: border-box; line-height: 20px; font-size: 13px;  }
a { cursor: pointer; text-decoration: none; }
.site-footer * , .site-banner *, .blog-title, .blog-post h1, .blog-post h2, .blog-post h3, .site-header * { font-family: 'Oswald'; }
.blog-title { line-height: 50px; }
.blog-post-title { color: #3176C3; }
.site-banner { background: #2589D4; margin: 2px 0 0 0; color: white; padding: 100px 10px;}
.site-banner { background-image: url('/images/header-bg.jpg') }
.site-banner h1 { font-size: 45px; text-align: center; margin-bottom: 50px; color: white; }
.blog-abstract { color: #A1E0FF; text-transform: capitalize; text-align: center; font-weight: lighter; font-size: 20px; line-height: 35px; }
.site-author-link { float: right; color: white; }
.site-header.isStuck { visibility: visible; }
.site-header { background: #8DC2F8; height: 36px; border-top: 3px solid white; border-bottom: 3px solid white; width: 100%; visibility: hidden; }
.site-title li { float: left; display: block; color: white; line-height: 30px; }
.site-title li .arrow { float: right; height: 0; width: 0; margin-left: 15px; }
.site-title-code { background: #193153;  padding-left: 15px; }
.site-title-code .arrow { border: 15px solid #375E7F; border-left-color: #193153; }
.site-title-art { background: #375E7F; }
.site-title-art .arrow { border: 15px solid #2589D4; border-left-color: #375E7F;}
.site-title-web { background: #2589D4; }
.site-title-web .arrow { border: 15px solid #8DC2F8; border-left-color:  #2589D4;}
.site-author-link { line-height: 30px; text-decoration: none; padding-right: 15px; }
.site-body .inner, .site-footer .inner { width: 80%; max-width: 900px; margin-left: auto; margin-right: auto; }
.site-body {  padding: 50px 0;}
.blog-title { font-weight: bold; padding-bottom: 10px; border-bottom: 2px solid black; margin-bottom: 10px; text-align: center; font-size: 35px; }
.blog-post-tags { float: right; }
.blog-post-tags a { color: silver; display: block; margin: 10px; }
.blog-post-item { padding: 20px 0; border-bottom: 1px dashed silver; position: relative; clear: both; }
.blog-post-item a { text-decoration: none; color: gray; }
.post-pre-meta { color: silver; margin-bottom: 15px; font-weight: 100; }
.site-footer { background: #494E52; padding: 100px 0; color: gray; border-top: 2px solid black; }
.site-footer p { font-weight: lighter; padding: 10px 0; text-align: center; }
.site-footer p a { text-decoration: none; color: silver; }
.site-footer * { font-size: 20px; }
.blog-post code, code * { font-family: monospace !important; }
.blog-post a { text-decoration: none; color: #2589D4; }
.blog-post * { padding: 10px 0; line-height: 20px; font-size: 13px; }
.blog-post .highlight { padding: 0; }
.blog-post .highlight pre { overflow-x: auto; }
/*.highlight { border: #073642 8px solid; margin-bottom: 10px; overflow-x: auto; } */
.site-body .inner { margin: 50px auto; }
blockquote { border-left: 5px solid silver; padding: 0 0 0 30px !important; background: #ddd url('/images/quote.png') no-repeat left top; color: gray; }
blockquote > * { padding: 0; }
.blog-post h1 { font-size: 20px; }
.blog-post h2 { font-size: 18px; }
.blog-post hr { padding: 0;}
.blog-post strong { font-weight: bold; display: block;}
.blog-post ul { list-style-type: disc; padding: 0; }
.blog-post ul li { padding: 0; }
.blog-post p img { margin-left: auto; margin-right: auto; margin-bottom: 10px; display: block; max-width: 100%; }
.blog-post table { border: 1px solid silver; }
.blog-post table td, .blog-post table th { padding: 10px; text-align: left; }
.blog-post p > code { background: #e8f1f6; border-radius: 3px; color: rgba(0,0,0,0.5); font-size: 12px; margin-top: 5px; padding: 3px 7px; max-width: 100%; overflow-x: auto;}
.blog-post table th { background: #e8f1f6; }
.blog-date { text-align: center; font-size: 13px; color: silver; }
.blog-post p { overflow-x: auto; }
@media all and (max-width: 500px) {
    body * { font-family: 'Open Sans', sans-serif; box-sizing: border-box; line-height: 25px; font-size: 16px;  }
}


.lf-tags{
    margin:0;
    padding:0;
    list-style:none;
    clear: both;
}
.lf-tags li, .lf-tags a{
    float:right;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
    margin:5px 0;
}

.lf-tags a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
}
.lf-tags a:before{
    content:"";
    float:left;
    position:absolute;
    top:0;
    left:-12px;
    width:0;
    height:0;
    border-color:transparent #0089e0 transparent transparent;
    border-style:solid;
    border-width:12px 12px 12px 0;
}
.lf-tags a:after{
    content:"";
    position:absolute;
    top:10px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}
.lf-tags a:hover{background:#555;}

.lf-tags a:hover:before{border-color:transparent #555 transparent transparent;}

.tldr-header {
    background-color: #FFD28B;
    color: white;
    padding: 5px 10px;
}

.tldr-summary {
    background: lemonchiffon;
    padding: 0;
}

.tldr-body {
    padding: 5px 10px;
}

.tldr-summary code {
    background: white !important;
}

// ====

.lf-site-wrapper {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 0;
}

.lf-sidebar-main {
    position: absolute;
    top: 0; bottom: 0;
}

.lf-sidebar-posts-container {
    position: absolute;
    overflow: auto;
    left: 0; right: 0; top: 100px; bottom: 2rem;
}

.lf-posts-container-header {
    position: absolute;
    top: 0; left: 0; right: 0;
}

.lf-sidebar-posts-footer {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 2rem;
}

.lf-l-sidebar-main {
    left: 0;
    background: #29343A;
    width: 350px;
}

.lf-l-sidebar-fringe {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 2.5rem;
    background: #23749E;
}

.lf-l-sidebar-body {
    position: absolute;
    left: 2.5rem; right: 0; top: 0; bottom: 0;
    background: #00AAF3;
}

.lf-r-sidebar-main {
    right: 0;
    background: #1D73A0;
    width: 2.5rem;
}

.lf-site-wrapper {
    background: white;
}

.lf-slab {
    font-family: 'Arvo', serif;
}

.lf-primary-header {
    font-size: 3rem;
}

.lf-site-header {
    color: white;
    margin: 30px 1rem 1rem 1rem;
    border-bottom: 1px solid white;
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;    
    clear: both;
}

.lf-site-body {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 350px;
    right: 40px;
    bottom: 0;
}

.lf-site-body-edge {
    height: 14px;
    background: url('/images/paper_edge.png');
    position: absolute;
    top: 0; left: 0; right: 0;
}

.lf-body-cols {
    position: absolute;
    left: 0; right: 0; bottom: 0; top: 14px;
    overflow: auto;
}

.lf-body-col {
    max-width: 33%;
    min-width: 200px;
    float: left;
}

.lf-body-cols {
    min-width: 600px;
}

.lf-posts-list-item { 
    position: relative;
    clear: both; 
}

.lf-posts-list-item-spacer {
    border-bottom: 1px solid rgb(58, 196, 255);
    height: 10px;
    margin-bottom: 10px;
}

.lf-posts-list-item:first-child .lf-posts-list-item-spacer{
    border-top: none;
}

.lf-posts-list {
    margin: 0 1rem;
}

.lf-posts-list-header {
    margin: 0 1rem;
}

.lf-posts-list-item {
    color: white;
}

.lf-posts-list-item-title {
    color: rgb(152, 224, 255);
}

.lf-posts-list-item-date {
    color: rgb(58, 196, 255);
}

.lf-sec-header {
    color: white;
    font-size: 1.5rem;
}

