/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background: white;
    font-size: 100%;
    border-top: 3px solid black;
}
body * { font-family: 'Open Sans', sans-serif; box-sizing: border-box; line-height: 20px; font-size: 13px;  }
a { cursor: pointer; text-decoration: none; }
.site-footer * , .site-banner *, .blog-title, .blog-post h1 { font-family: 'Oswald'; }
.blog-title { line-height: 50px; }
.blog-post-title { color: #3176C3; }
.site-banner { background: #2589D4; margin: 2px 0 0 0; color: white; padding: 100px 10px;}
.site-banner { background-image: url('/images/header-bg.jpg') }
.site-banner h1 { font-size: 45px; text-align: center; margin-bottom: 50px; color: white; }
.blog-abstract { color: #A1E0FF; text-transform: capitalize; text-align: center; font-weight: lighter; font-size: 20px; line-height: 35px; }
.site-author-link { float: right; }
.site-header.isStuck { visibility: visible; }
.site-header { background: #8DC2F8; height: 30px; border-top: 3px solid white; border-bottom: 3px solid white; width: 100%; visibility: hidden; }
.site-title li { float: left; display: block; color: white; line-height: 30px; }
.site-title li .arrow { float: right; height: 0; width: 0; margin-left: 15px; }
.site-title-code { background: #193153;  padding-left: 15px; }
.site-title-code .arrow { border: 15px solid #375E7F; border-left-color: #193153; }
.site-title-art { background: #375E7F; }
.site-title-art .arrow { border: 15px solid #2589D4; border-left-color: #375E7F;}
.site-title-web { background: #2589D4; }
.site-title-web .arrow { border: 15px solid #8DC2F8; border-left-color:  #2589D4;}
.site-author-link { line-height: 30px; color: #193153; text-decoration: none; padding-right: 15px; }
.site-body .inner, .site-footer .inner { width: 80%; max-width: 900px; margin-left: auto; margin-right: auto; }
.site-body {  padding: 50px 0;}
.blog-title { font-weight: bold; padding-bottom: 10px; border-bottom: 2px solid black; margin-bottom: 10px; text-align: center; font-size: 35px; }
.blog-post-tags { float: right; }
.blog-post-tags a { color: silver; display: block; margin: 10px; }
.blog-post-item-tags li { float: left;  }
.blog-post-item { padding: 20px 0; border-bottom: 1px dashed silver;}
.blog-post-item a { text-decoration: none; color: gray; }
.post-pre-meta { color: silver; margin-bottom: 15px; font-weight: 100; }
.site-footer { background: #494E52; padding: 100px 0; color: gray; border-top: 2px solid black; }
.site-footer p { font-weight: lighter; padding: 10px 0; text-align: center; }
.site-footer p a { text-decoration: none; color: silver; }
.blog-post code { padding: 10px; }
.blog-post code, code * { font-family: monospace !important; }
.blog-post * { padding: 10px 0; line-height: 20px; font-size: 13px; }
.highlight { border: #073642 8px solid; margin-bottom: 10px; overflow-x: auto; }
.site-body .inner { margin: 50px auto; }
blockquote { border-left: 2px solid silver; padding-left: 10px !important; background: white; }
.blog-post h1 { font-size: 20px; }
.blog-post p img { margin-left: auto; margin-right: auto; margin-bottom: 10px; display: block; max-width: 100%; }
.blog-post table { border: 1px solid silver; }
.blog-post table td, .blog-post table th { padding: 10px; text-align: left; }
.blog-post p > code { background: #e8f1f6; border-radius: 3px; color: rgba(0,0,0,0.5); display: inline-block; font-size: 12px; margin-top: 5px; padding: 3px 7px;}
.blog-post table th { background: #e8f1f6; }
.blog-date { text-align: center; font-size: 13px; color: silver; }

@media all and (max-width: 500px) {
    body * { font-family: 'Open Sans', sans-serif; box-sizing: border-box; line-height: 25px; font-size: 16px;  }
}