a {
    cursor: pointer;
    text-decoration: none;
}
body {
    background: url('/images/body_background.jpg');
}

header h1 a {
    font-size: 2.5em;
    color: #5FB336;
    font-family: 'Josefin Slab', serif;
}

header h1 {
    margin-bottom: 1em;
}

header h2 , header h1 {
    color: #5FB336;
    font-weight: 400;
}

header h2 {
    color: #757778;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 400;
    /*font-family: arial; */
    text-transform: uppercase;
}

header {
    padding-top: 2.6em;
    padding-bottom: 0.8em;
    margin-bottom: 30px;
    border-bottom: 1px solid #5FB336;
}

.body h1, .body h2, .body h3{
    font-weight: 400;
    font-family: 'Josefin Slab', serif;
    color: #5FB336;
}
.body {
    padding-top: 50px;
}
.body h1 {
    font-size: 1.9em;
    margin: 5px 0;
    font-weight: 100;
}
.body h2 {
    font-weight: 100;
    font-size: 1.6em;
}

.social {
    float: right;
    list-style-type: none;
}
.social li {
    float: right;
    padding: 5px;
}
.social li img {
    height: 16px;
    width: 16px;
    opacity: 0.5;
}
.posts li span {
    padding-right: 10px;
}
.posts li a {
    padding-left: 10px;
    color: #4A89B5 !important;
}
.post h1, .post h2, .post h3{
    font-weight: bold;
    /*font-family: arial; */
    color: black;
}
.post {
    margin-top: 30px;
    font-size: 0.9em;
}
.post h1 {
    font-size: 1.3em;
}
.post h2 {
    font-size: 1.2em;
}
.post h3 {
    font-size: 0.1em;
}

body {
    background: #EDF0F1;
}
.site {
    background: #F9FBFC;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    line-height: 1.5em;
    background-color: #f9fbfc;
    border-left: 1px solid #dee3e6;
    border-right: 1px solid #dee3e6;
    border-bottom: 1px solid #dee3e6;
}
body * {
    font-family: 'Ubuntu', sans-serif;
}