<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Notes on Software Craftsmanship, Architecture Design and the Art of Building beautiful abstractions, primary focus being on Web centric platforms and technologies.">
        <title> Code.Art.Web </title>
        <meta property="og:url" content="http://lorefnon.me" />
        <meta property="og:image" content="http://lorefnon.me/images/dot_star.jpeg" />
        <meta property="og:title" content="Code.Art.Web | By Lorefnon" />
        <meta property="og:description" content="Notes on Software Craftsmanship, Architecture Design and the Art of Building beautiful abstractions, primary focus being on Web centric platforms and technologies." />

        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="Ruby,Rails,JavaScript,DevOps,KnockoutJS">
        <meta name="author" content="Lorefnon">
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans:400' rel='stylesheet' type='text/css'>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://lorefnon.me/feed.xml">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/blog.css">
    	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!--[if lte IE 9]>
        <p class="browser-warning">
            You are using an antiquated defunct browser.  <a href="http://www.updateyourbrowser.net/en/">Upgrade now</a>
        </p>
        <![endif]-->
        <!--[if ! lte IE 9]> -->
        <header class="site-banner">
            <a href="http://lorefnon.me"><h1 class="site-main-title"> Code . Art . Web </h1></a>
            <div class="blog-abstract">
                Notes on Software Craftsmanship, Architecture Design and the Art of Building beautiful abstractions, <br>
                primary focus being on Web centric platforms and technologies.
            </div>
        </header>
        <header class='site-header'>
            <a href="https://twitter.com/lorefnon" class="site-author-link">@lorefnon</a>
            <ul class='site-title'>
                <li class="site-title-code"><div class="arrow"></div>Code </li>
                <li class="site-title-art"><div class="arrow"></div>Art</li>
                <li class="site-title-web"><div class="arrow"></div>Web</li>
            </ul>
        </header>
        <div class="site-body">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        <footer class="site-footer">
            <div class="inner">
                <p>&copy; 2013 - 2014 Gaurab Paul </p>
                <p>Code licensed under the
                    <a href="http://opensource.org/licenses/MIT" target="_blank">The
                        MIT License</a>. Content and Artwork licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>.
                </p>
                <p>
                    The opinions expressed herein are my personal viewpoints  and may
                    not be taken as professional recommendations from any of my previous or
                    current employers.
                </p>
                <p>
                    Site is powered by <a href="http://jekyllrb.com/">Jekyll</a> and graciously hosted by <a href="https://github.com">Github</a>
                </p>
            </div>
        </footer>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47274059-1', 'lorefnon.me');
            ga('send', 'pageview');
        </script>
        <script src="/js/jquery.js"></script>
        <script src="/js/stickUp.min.js"></script>
        <script>
            $(function(){
              setTimeout(function(){
                $(".site-header").stickUp();
              }, 100)
            });
        </script>
        <!-- <![endif]-->
    </body>
</html>
