---
layout: default
---

<a href="{{post.url}}"><h2 class="blog-title blog-post-title">{{ page.title }}</h2></a>

{% include tags.html %}

<div class="content">

  <p class="blog-date">{{ page.date | date_to_string }}</p>

  <div class="blog-post">

    {% if page.tldr %}
    <div class="tldr-summary">
      <div class="tldr-header"> TL;DR </div>
      <div class="tldr-body">
        {{ page.tldr | markdownify }}
      </div>
    </div>
    {% endif %}

    {{ content }}
  </div> <!-- .content -->

  <br>
  <hr>
  <br>

  {% include disqus.html %}

</div>
